---
layout: nil
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title><![CDATA[{{ page.title }} - {{ site.title }}]]></title>
    <link href="{{ site.url }}{{ subscribe_rss }}" rel="self"/>
    <link href="{{ site.url }}/"/>
    {% for item in site.posts limit: 1 %}
        <updated>{{ item.date | date_to_xmlschema }}</updated>
    {% endfor %}
    <id>{{ site.url }}/</id>
    <author>
        <name><![CDATA[{{ site.author | strip_html }}]]></name>
        {% if site.email %}<email><![CDATA[{{ site.email }}]]></email>{% endif %}
    </author>
    <generator uri="{{ site.url }}">{{ site.author }}</generator>
        
    {% for item in site.posts %}
        {% if item.layout == 'post' %}
            <entry>
                <title type="html"><![CDATA[{{ item.title | cdata_escape }}]]></title>
                <link href="{{ site.url }}{{ item.url }}"/>
                <updated>{{ item.date | date_to_xmlschema }}</updated>
                <id>{{ site.url }}{{ item.id }}</id>
                <content type="html"><![CDATA[{{ item.content | expand_urls: site.url | markdownify | cdata_escape }}]]></content>
            </entry>
        {% endif %}
    {% endfor %}
</feed>
