---
layout: default
single: true
---
<article class="entry" role="article">
    {% include article.html %}
    <footer>
        <span class="three columns alpha">
            {% if page.layout_previous.url %}
                <a href="{{ page.layout_previous.url }}" title="{{ page.layout_previous.title }}">&laquo; Previous Project</a>
            {% endif %}
        </span>
        <span class="six columns">
            <a href="/projects/" title="All Posts">All Projects</a>
        </span>
        <span class="three columns omega">
            {% if page.layout_next.url %}
                <a href="{{ page.layout_next.url }}" title="{{ page.layout_next.title }}">Next Project &raquo;</a>
            {% endif %}
        </span>
    </footer>
</article>
{% if site.disqus_short_name and page.comments == true %}
    <section>
        <h1 class="comments">Comments</h1>
        <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
    </section>
{% endif %}
