<header role="banner">
    <h3 class="entry-title">
        <a href="{{ page.url }}">
            {% if page.title_image %}
                <img src="{{ page.title_image }}" alt="{{ page.title }}">
                {% if layout == 'draft' %}UNPUBLISHED DRAFT{% endif %}
            {% else %}
                {% if layout == 'draft' %}UNPUBLISHED DRAFT:{% endif %}
                {{ page.title }}
            {% endif %}
        </a>
    </h3>
</header>
<div class="entry-content">
    {% if page.show_blurb %}
        <div class="entry-subtitle twelve columns alpha omega">
            <div class="ten columns alpha">
                {{ page.blurb | markdownify }}
            </div>
            <div class="two columns omega">
                {{ content | count_words }} words
            </div>
        </div>
    {% endif %}
    {{ content }}
    {% if page.thanks %}
        <hr>
        <p>
            Thanks to {% for thank in page.thanks %}
            {% if thank.link %}<a href="{{ thank.link }}">{% endif %}{{ thank.name }}{% if thank.link %}</a>{% endif %}{% case forloop.rindex %}{% when 1 %}{% when 2 %} and{% else %},{% endcase %}
            {% endfor %} for {% if page.thanks_note %}{{ page.thanks_note }}{% else %}their help with this post!{% endif %}
        </p>
    {% endif %}
    <hr>
    <div class="entry-meta">
        {% capture time %}<time datetime="{{ page.date | datetime | date_to_xmlschema }}" pubdate{% if page.updates %} data-updated="true"{% endif %}>{{ page.date | date: "%d %B %Y" }}</time>{% endcapture %}
        Published on {{ time }}
        {% capture num_categories %}{{ page.categories | size }}{% endcapture %}
        {% if num_categories != '0' %} with
            {% if num_categories == '1' %}
                this category:
            {% else %}
                these categories:
            {% endif %}
            {% for category in page.categories %}{{ category | category_link }}{% case forloop.rindex %}{% when 1 %}{% when 2 %} and {% else %}, {% endcase %}{% endfor %}.
        {% else %}
            with no categories.
        {% endif %}
        {% if page.updates %}
            {% for update in page.updates %}
                <div class="entry-update">
                    Update on {{ update.date | date: "%d %B %Y"  }}: {{ update.body | markdownify }}
                </div>
            {% endfor %}
        {% endif %}
        {% if page.crossposts %}
            <div class="entry-crossposts">
                Cross-posted to {% for crosspost in page.crossposts %}<a href="{{ crosspost.link }}">{{ crosspost.site }}</a>{% case forloop.rindex %}{% when 1 %}{% when 2 %} and {% else %}, {% endcase %}{% endfor %}.
            </div>
        {% endif %}
    </p>
    <hr>
    {% unless layout == 'draft' %}
        <div class="entry-social">
            Comments? You can <a href="http://news.ycombinator.com/submitlink?u={{ site.url | append:page.url | cgi_escape }}&t={{ page.title | cgi_escape }}">submit this link to Hacker News</a>, or use Disqus below.
        </div>
    {% endunless %}
</div>
{% include disqus.html %}
<footer>
    {% if layout == 'hidden' %}
        <span class="twelve columns">
            This is a hidden post, but it is not secret. It is not listed anywhere else on this site, but feel free to share it.
        </span>
    {% else %}
        <span class="four columns alpha">
            {% if page.layout_previous.url %}
                <a href="{{ page.layout_previous.url }}" title="{{ page.layout_previous.title }}">&laquo; Previous {{ layout | titlecase }}</a>
            {% else %}
                This is the first {{ layout }}.
            {% endif %}
        </span>
        <span class="four columns">
            {% if layout == 'draft' %}
                &nbsp;
            {% else %}
                <a href="/posts/" title="All {{ layout | titlecase }}s">All {{ layout | titlecase }}s</a>
            {% endif %}
        </span>
        <span class="four columns omega">
            {% if page.layout_next.url %}
                <a href="{{ page.layout_next.url }}" title="{{ page.layout_next.title }}">Next {{ layout | titlecase }} &raquo;</a>
            {% else %}
                This is the most recent {{ layout }}.
            {% endif %}
        </span>
    {% endif %}
</footer>
