<header role="banner">
    <h3 class="entry-title">
        <a href="{{ post.url }}">
            {{ page.title }}
        </a>
    </h3>
</header>
<div class="entry-content">
    {{ content }}
    {% if page.thanks %}
        <hr>
        <p>
            Thanks to {% for thank in page.thanks %}
            <a href="{{ thank.link }}">{{ thank.name }}</a>{% case forloop.rindex %}{% when 1 %}{% when 2 %} and{% else %},{% endcase %}
            {% endfor %} for {% if page.thanks_note %}{{ page.thanks_note }}{% else %}their help with this post!{% endif %}
        </p>
    {% endif %}
    <hr>
    {% include disqus.html %}
    <div class="entry-meta">
        {% capture time %}<time datetime="{{ page.date | datetime | date_to_xmlschema }}" pubdate{% if page.updates %} data-updated="true"{% endif %}>{{ page.date | date: "%d %B %Y" }}</time>{% endcapture %}
        Published on {{ time }}
        {% capture num_categories %}{{ page.categories | size }}{% endcapture %}
        {{ num_categories }}
        {% if num_categories != '0' %} with
            {% if num_categories == '1' %}
                this category:
            {% else %}
                these categories:
            {% endif %}
            {% for category in page.categories %}<a href="/category/{{category | remove: ' ' }}">{{ category }}</a>{% case forloop.rindex %}{% when 1 %}{% when 2 %} and {% else %}, {% endcase %}{% endfor %}.
        {% else %}
            with no categories.
        {% endif %}
        {% if page.updates %}
            {% for update in page.updates %}
                <div class="entry-update">
                    Update on {{ update.date | date: "%d %B %Y"  }}: {{ update.body | markdownify }}
                </div>
            {% endfor %}
        {% endif %}
    </p>
    <hr>
</div>
