<header role="banner">
    <h1 class="entry-title">
        <a href="{{ post.url }}">
            {{ page.title }}
        </a>
    </h1>
</header>
<div class="entry-content">
    {{ content }}
    {% if page.thanks %}
        <hr>
        <p>
            Thanks to {% for thank in page.thanks %}
            <a href="{{ thank.link }}">{{ thank.name }}</a>{% case forloop.rindex %}{% when 1 %}{% when 2 %} and{% else %},{% endcase %}
            {% endfor %} for {% if page.thanks_note %}{{ page.thanks_note }}{% else %}their help with this post!{% endif %}
        </p>
    {% endif %}
    <hr>
    <div class="entry-meta">
        {% include post/date.html %}
        Published on {{ time }} under {% for category in page.categories %}<a href="/category/{{category | remove: ' ' }}">{{ category }}</a>{% case forloop.rindex %}{% when 1 %}{% when 2 %} and {% else %}, {% endcase %}{% endfor %}
        {% if page.updates %}
            {% for update in page.updates %}
                <div class="entry-update">
                    Update on {{ update.date | date_to_long_string }}: {{ update.body | markdownify }}
                </div>
            {% endfor %}
        {% endif %}
    </p>
    <hr>
</div>
