---
layout: default
---
<header role="banner">
    <h1><a href="/">{{ site.title }}</a></h1>
</header>
<div id="blog-archives">
    <div>
        <h2><strong>Selected Posts</strong> - <a href='/posts/'>All Posts</a></h2>
        <ul>
            {% for item in site.posts %}
                {% if item.layout == 'post' and item.featured %}
                    <li>
                        {% include item_info.html %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2><strong>Selected Projects</strong> - <a href='/projects/'>All Projects</a></h2>
        <ul>
        {% for item in site.posts %}
            {% if item.layout == 'project' and item.featured %}
                <li>
                    {% include item_info.html %}
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>
