---
layout: default
selected: true
title: Steven Lehrburger
---
<div class="posts twelve columns alpha omega">
    <h3>Selected Posts - <a href="/posts/">All Posts</a></h3>
    <div class="item-list">
        {% for item in site.posts %}
            {% if item.layout == 'post' and item.featured %}
                {% include item_info.html %}
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="projects twelve columns alpha omega">
    <h3>Selected Projects - <a href="/projects/">All Projects</a></h3>
    <div class="item-list">
        {% for item in site.posts %}
            {% if item.layout == 'project' and item.featured %}
                {% include item_info.html %}
            {% endif %}
        {% endfor %}
    </div>
</div>
