// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

sup,
sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    _vertical-align: bottom;
    position: relative;
    font-size: .75em;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

a {
    @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
    text-decoration: none;
}

hr {
    margin: 0 0 20px 0;
}

#sidebar,
#main {
    color: $text-color;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: $sans;
}
#sidebar {
    h3 {
        margin-bottom: 7px;
    }
    .search_form input.search {
        margin-left: -2px;
        background: $main-bg;
        border: none;
        color: $link-color-visited;
        font-size: 16px;
        padding: 3px;
        width: 212px;
        &::-webkit-input-placeholder { /* WebKit browsers */
            color: $text-color-light;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: $text-color-light;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: $text-color-light;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color: $text-color-light;
        }
    }
}
h3 {
    padding-top: 15px;
    border-top: 3px solid $text-color;
    font-weight: 700;
}
h4 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
}

.item-list {
    .excerpt {
        font-style: italic;
    }
    .no-excerpt {
        min-height: 1em;
        margin: 0 0 20px 0;
    }
    .date {
        color: $text-color-light;
    }
}
.item-list .date.featured {
    color: $text-color;
}

#about {
    .profile-photo {
        padding-top: 5px;
        float: right;
        height: 102px;
    }
    #service-lists {
        ul {
            margin-top: -10px;
            margin-left: 25px;
        }
        img {
            height: 16px;
            padding-right: 8px;
            margin-bottom: -3px;
        }
    }
}

.entry {
    .entry-content {
        font-family: $serif;
        iframe,
        object,
        p > img {
            margin: 0 auto;
            display: block;
        }
        h6 {  // h6 so we can wrap images we want on the same line in a div
            text-align: center;
        }
        iframe,
        object,
        h6 {
            margin-bottom: 20px;
        }
    
        .entry-meta {
            margin: 0 0 20px 0;
            .entry-update {
                margin-top: 10px;
                p {
                    display: inline;
                }
            }
        }
    }
    footer {
        font-family: $sans;
        .three.columns.alpha {
            text-align: left;
        }
        .six.columns {
            text-align: center;
        }
        .three.columns.omega {
            text-align: right;
        }
    }
}

#footer {
    margin-top: 10px;
    .twelve.columns,
    .four.columns {
        border-top: 3px solid $text-color-light;
     }
    .twelve.columns {
        color: $text-color-light;
        a {
            color: $text-color-light;
        }
        padding: 30px 0 30px 0;
    }
}
